@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins" !important;
    position: relative;
    min-height: calc(100vh - 100px);
}

nav {
    background-color: #e9ebf8 !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    font-family: "Poppins-SemiBold";
    font-size: 12px;
}

nav .gambar.warna a {
    color: #396eb0 !important;
}

nav a {
    color: #6a6a6a !important;
}

nav a img {
    margin-top: -7px;
    width: 100px;
    object-fit: cover;
}

nav .nav-item.gambar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

nav .nav-item.gambar.warna img {
    width: 20px;
    margin-top: 10px;
    margin-bottom: -5px;
    filter: grayscale(0);
}

nav .nav-item.gambar.warna ul li a {
    color: #6a6a6a !important;
}

nav .nav-item.gambar img {
    width: 20px;
    margin-top: 10px;
    margin-bottom: -5px;
    filter: grayscale(1);
}

nav .nav-item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

nav .nav-item:last-child div:first-child img {
    width: 50px;
}

nav .nav-item:last-child div:last-child {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

nav .nav-item:last-child div:last-child span:first-child {
    font-family: "Poppins-SemiBold";
    font-size: 13px;
}

nav .nav-item:last-child div:last-child span:last-child {
    font-family: "Poppins";
    font-size: 12px;
}

nav .dropdown-menu {
    border-radius: 15px;
}

.bg-konfirmasi {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 61, 97, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-konfirmasi .box {
    width: 370px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.bg-konfirmasi .box p {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Poppins-SemiBold";
    font-size: 15px;
}

.bg-konfirmasi .box .tombol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-konfirmasi .box a.btn {
    width: calc(50% - 20px);
    margin: 0 5px 0 5px;
    font-size: 13px;
    font-family: "Poppins-SemiBold";
}

.bg-konfirmasi .box a.btn.batal {
    background-color: #e9ebf8;
    border: 1px solid #396eb0;
    color: #396eb0;
}

.bg-konfirmasi .box a.btn.daftar {
    background-color: #396eb0;
    color: white;
}

.container.kotak {
    margin-top: 100px;
    display: flex;
    color: #396eb0;
}

.container .kiri {
    width: 80%;
}

.container .kiri .atas {
    display: flex;
    display: flex;
    align-items: center;
}

.container .kiri .atas .logo-back img {
    width: 30px;
}

.container .kiri .atas .title span {
    font-family: "Poppins-Bold";
    font-size: 30px;
    margin-left: 15px;
}

.container .kiri .bawah {
    margin-top: 30px;
    margin-left: 70px;
    color: black;
}

.container .kiri .bawah h5 {
    font-family: "Poppins-SemiBold";
    font-size: 14px;
}

.container .kiri .bawah h3 {
    margin-top: 20px;
    font-family: "Poppins-SemiBold";
    font-size: 18px;
}

.container .kiri .bawah .soal {
    margin-top: 20px;
}

.container .kiri .bawah .soal p {
    font-size: 15px;
}

.container .kiri .bawah .soal ul {
    padding-left: 2%;
    margin-top: -10px;
}

.container .kiri .bawah .soal ul li {
    font-size: 13px;
    list-style-type: none;
}

.container .kiri .bawah .soal ul li input {
    margin-right: 10px;
}

.container .kiri .bawah .next {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.submit {
    background-color: #396eb0 !important;
    cursor: pointer;
}

.submit span {
    color: white !important;
    letter-spacing: 1.2px;
}

.container .kiri .bawah .next a.btn.next {
    width: 250px;
    height: 36px;
    border: 1px solid #396eb0;
    background-color: #e9ebf8;
    display: flex;
    justify-content: space-around;
}

.container .kiri .bawah .next a.btn.next .tengah {
    width: calc(100%);
}

.container .kiri .bawah .next a.btn.next .kanan {
    width: fit-content;
}

.container .kiri .bawah .next a.btn.next span {
    font-size: 13px;
    font-family: "Poppins-SemiBold";
    color: #396eb0;
}

.container .kiri .bawah .next a.btn.next img {
    width: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #c2d2e7;
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .kiri {
    width: calc(100% / 3);
}

footer .tengah {
    width: calc(100% / 3);
    text-align: center;
}

footer .tengah span {
    font-family: "Poppins-SemiBold";
    font-size: 14px;
}

footer .kanan {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .kanan span {
    color: #6a6a6a;
    font-size: 13px;
    margin-right: 10px;
}

footer .kanan img {
    margin-top: -3px;
    width: 20px;
}
